.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-family: 'Rubik', sans-serif;
}

section .font-poppins {
  font-family: 'Poppins', sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

section.jumbotron,
section.adventages {
  min-height: 650px;
}

section.auth,
section.forgot,
section.cart,
section.profile,
section.history {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section.forgot,
section.cart,
section.profile,
section.history {
  background-size: cover;
}

section.auth {
  min-height: 100vh;
  background-image: url('./img/general/login.png');
  background-size: 50%;
}

section.forgot {
  min-height: 100vh;
  background-image: url('./img/general/forgot.png');
  font-family: 'Poppins', sans-serif;
}

section.cart {
  min-height: 800px;
  background-image: url('./img/general/cart.png');
}

section.profile {
  min-height: 100vh;
  background-image: url('./img/general/kopi.png');
  /* background-position-y: -200px; */
}

section.history {
  background-image: url('./img/general/history.png');
}

/* nav button {
  background-color: rgba(255, 186, 51, 1);
} */

.imageSuitVertical {
  width: 100%;
}

.imageSuitHorizontal {
  height: 100%;
}

.jumbotron {
  padding-top: 80px;
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)),
    url('./img/general/jumbotron.jpg');
  background-size: cover;
  background-position-x: center;
  background-position-y: 60px;
  background-attachment: fixed;
}

.jumbotron h1,
.jumbotron p {
  font-weight: bold;
  text-shadow: 2px 2px 8px #000000;
}

.jumbotron h1 {
  font-size: 50px;
}

.jumbotron button.started {
  background-color: rgba(255, 186, 51, 1);
}

#advantages .report {
  height: 200px;
  margin-top: -100px;
  width: 100%;
}

.box-advent {
  display: grid;
  height: 55px;
  width: 55px;
  background-color: rgba(255, 186, 51, 1);
  text-align: center;
  margin-left: 120px;
}

.box-advent i {
  align-self: center;
}

.report h1 {
  font-weight: bold;
  font-size: 20px;
}

.favorite .item-wrapper {
  width: 1024px;
  /* background-color: coral; */
}

.favo-sect {
  height: 760px;
  padding-bottom: 30px;
}

/* .favo-img {
  height: 150px;
  width: 150px;
} */

/* .favo-sect .picture,
.favo-sect .list,
.favo-sect .cost {
  display: flex;
  justify-content: center;
} */

/* .favo-sect .picture {
  flex: 1;
} */

/* .favo-sect .list {
  flex: 1;
} */

/* p.sub-judul {
  width: 500px;
} */

.test-bar {
  width: 1300px;
}

.test-card {
  width: 400px;
  height: 230px;
}

.test-card .head p::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f005';
  color: yellow;
}

.arr-left::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f060';
  /* color: rgb(58, 39, 0); */
}

.foot-info div {
  padding-bottom: 10px;
}

/* .product .container {
  width: 1400px;
} */

.product .content {
  min-height: 900px;
}

.product .side {
  flex: 1;
}

.product .main {
  flex: 2;
}

.product .card {
  height: 450px;
}

.product .card-acc-1 {
  height: 400px;
}

.product .main ul li {
  padding: 0 10px;
}

.product .main ul li:hover {
  border-bottom: 2px solid rgb(106, 64, 40);
}

.product .main a:hover {
  font-weight: bold;
  color: rgb(106, 64, 40);
}

/* .product .main .item div.flex {
  margin-top: 30px;
} */

section.cart .grid .item {
  margin-bottom: 5px;
}

section.cart .cart-body {
  min-height: 500px;
}

section.profile .data {
  font-family: 'Poppins', sans-serif;
}

/* .forgot .email {
  flex-grow: 3;
}

.forgot .send {
  flex-grow: 1;
} */

section.detailProduct .item {
  flex: 4;
}

section.detailProduct .item {
  flex: 5;
}

.title-jumbo {
  line-height: 50px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
